* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'DM Sans';
    text-decoration: none;
    list-style: none;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
}

@media (max-width: 1240px){
    .container{
        width: 1024px;
    }
}

@media (max-width: 1024px){
    .container{
        width: 768px;
    }
}

@media (max-width: 768px){
    .container{
        width: 568px;
    }
}

@media (max-width: 568px){
    .container{
        width: 480px;
    }
}

@media (max-width: 480px){
    .container{
        width: 380px;
    }
}




